<?xml version="1.0" encoding="UTF-8"?>
<DeviceMiniGraph xmlns="Microsoft.Search.Autopilot.Evolution" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <CpgDec>
    <IsisRouters xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
    <PeeringSessions>
{% if inventory_hostname == 'dut' %}
      <BGPSession>
        <StartRouter>dut</StartRouter>
        <StartPeer>10.0.0.0</StartPeer>
        <EndRouter>leaf1</EndRouter>
        <EndPeer>10.0.0.1</EndPeer>
      </BGPSession>
      <BGPSession>
        <StartRouter>dut</StartRouter>
        <StartPeer>10.0.1.0</StartPeer>
        <EndRouter>leaf2</EndRouter>
        <EndPeer>10.0.1.1</EndPeer>
      </BGPSession>
{% elif inventory_hostname == 'leaf1' %}
      <BGPSession>
        <StartRouter>leaf1</StartRouter>
        <StartPeer>10.0.0.1</StartPeer>
        <EndRouter>dut</EndRouter>
        <EndPeer>10.0.0.0</EndPeer>
      </BGPSession>
      <BGPSession>
        <StartRouter>leaf1</StartRouter>
        <StartPeer>10.0.2.0</StartPeer>
        <EndRouter>leaf2</EndRouter>
        <EndPeer>10.0.2.1</EndPeer>
      </BGPSession>
{% elif inventory_hostname == 'leaf2' %}
      <BGPSession>
        <StartRouter>leaf2</StartRouter>
        <StartPeer>10.0.1.1</StartPeer>
        <EndRouter>dut</EndRouter>
        <EndPeer>10.0.1.0</EndPeer>
      </BGPSession>
      <BGPSession>
        <StartRouter>leaf2</StartRouter>
        <StartPeer>10.0.2.1</StartPeer>
        <EndRouter>leaf1</EndRouter>
        <EndPeer>10.0.2.0</EndPeer>
      </BGPSession>
{% endif %}
    </PeeringSessions>
    <Routers xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% if inventory_hostname == 'dut' %}
      <a:BGPRouterDeclaration>
        <a:ASN>65000</a:ASN>
        <a:Hostname>dut</a:Hostname>
        <a:Peers>
          <BGPPeer>
            <Address>10.0.0.1</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
          <BGPPeer>
            <Address>10.0.1.1</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
        </a:Peers>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% elif inventory_hostname == 'leaf1' %}
      <a:BGPRouterDeclaration>
        <a:ASN>65101</a:ASN>
        <a:Hostname>leaf1</a:Hostname>
        <a:Peers>
          <BGPPeer>
            <Address>10.0.0.0</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
          <BGPPeer>
            <Address>10.0.2.1</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
        </a:Peers>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% elif inventory_hostname == 'leaf2' %}
      <a:BGPRouterDeclaration>
        <a:ASN>65102</a:ASN>
        <a:Hostname>leaf2</a:Hostname>
        <a:Peers>
          <BGPPeer>
            <Address>10.0.1.0</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
          <BGPPeer>
            <Address>10.0.2.0</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
            <Vrf i:nil="true"/>
          </BGPPeer>
        </a:Peers>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% endif %}
    </Routers>
  </CpgDec>
  <DpgDec>
    <DeviceDataPlaneInfo>
      <IPSecTunnels/>
      <LoopbackIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
        <a:LoopbackIPInterface>
          <Name>HostIP</Name>
          <AttachTo>Loopback0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
{% if inventory_hostname == 'dut' %}
            <b:IPPrefix>1.1.1.1/32</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>1.1.1.1/32</a:PrefixStr>
{% elif inventory_hostname == 'leaf1' %}
            <b:IPPrefix>2.2.2.2/32</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>2.2.2.2/32</a:PrefixStr>
{% elif inventory_hostname == 'leaf2' %}
            <b:IPPrefix>3.3.3.3/32</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>3.3.3.3/32</a:PrefixStr>
{% endif %}
        </a:LoopbackIPInterface>
      </LoopbackIPInterfaces>
      <ManagementIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
      <ManagementVIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
      <MplsInterfaces/>
      <MplsTeInterfaces/>
      <RsvpInterfaces/>
      <Hostname>{{ inventory_hostname }}</Hostname>
      <PortChannelInterfaces/>
      <VlanInterfaces/>
      <IPInterfaces>
{% if inventory_hostname == 'dut' %}
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet0</AttachTo>
          <Prefix>10.0.0.0/31</Prefix>
        </IPInterface>
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet4</AttachTo>
          <Prefix>10.0.1.0/31</Prefix>
        </IPInterface>
{% elif inventory_hostname == 'leaf1' %}
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet0</AttachTo>
          <Prefix>10.0.0.1/31</Prefix>
        </IPInterface>
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet4</AttachTo>
          <Prefix>10.0.2.0/31</Prefix>
        </IPInterface>
{% elif inventory_hostname == 'leaf2' %}
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet0</AttachTo>
          <Prefix>10.0.1.1/31</Prefix>
        </IPInterface>
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>Ethernet4</AttachTo>
          <Prefix>10.0.2.1/31</Prefix>
        </IPInterface>
{% endif %}
      </IPInterfaces>
    </DeviceDataPlaneInfo>
  </DpgDec>
</DeviceMiniGraph>

